.App {
  text-align: center;
  /* background-image: url(https://www.lefthudson.com/wp-content/uploads/2019/11/retro-gaming-background-beautiful-23-548-piece-perler-bead-pixel-art-of-the-day-of-retro-gaming-background.jpg);  */
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQwGUowJgdMECRyDRzaUAnFHV_xk-HHil74uuhkoWDuDwZ_n-7v&usqp=CAU); 
  height: 100vh;
}
  
.box {
  display: inline-block;       
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
  }

.off {
  background-color: lightgray;
}

.on {
  background-color: green;
}
  
.box:hover { 
  background: #00CCFF;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 20px;
}
  
h1, h2, h3, h4 {
  color: rgb(18, 231, 213);
  background-color: rgb(53, 11, 202);
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}